<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//RU" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru"> 
<head> <title></title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>

<body style="margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px;text-align:center;background-color:#222222;">

<p style="height:100%;margin-top:0;"><img style="height:100%;text-align:center;" src="cover.jpg" alt="001" class="imgepub"/></p>
</body>

</html>
