\Configure{HEAD}{\empty}{\empty}
\Configure{HTML}{\StartXml}{\EndXml}

\newcommand\StartXml{\IgnorePar\HCode{%
<FictionBook xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.gribuser.ru/xml/fictionbook/2.0">\Hnewline
<description/>}}  %description is created via xsl transformation

\newcommand\EndXml{\empty} % the end tag is inserted from the Makefile \HCode{</FictionBook>}}

\Configure{TITLE+}{\empty}
\Configure{TITLE}{\empty}


\Preamble{xhtml,ooffice,unicode}

\newcommand{\mypart}[1]{
    \part*{#1}
}

\newcommand{\mychapter}[1]{
    \chapter*{#1}
}

\newcommand{\mychapterz}[2]{
    \chapter*[#1]{#2}
}

\newcommand\mysubtitle[1]{
    \subsubsection*{#1}
}

\newcommand\mysubsection[1]{
    \subsection*{#1}
}

\newcommand\myparagraph[1]{
    \paragraph{#1}
}

\newenvironment{mymulticols}[1]{}{}

% the idea of identity environment is to provide a mechanism
% to assign some id to the element it surrounds. Its main use is
% with htlatex configs
\newcommand\myid{}
\newenvironment{identity}{}{}

\newenvironment{Parallel}{}{}

\newenvironment{centericon}{}{}

\newcommand{\myfig}[2][0.43]{}

\newcommand{\myfigh}[3][0.43]{\myfig[#1]{#2}}

\newcommand{\myfigr}[2][0.43]{\myfig[#1]{#2}}

\newcommand{\myfigrh}[3][0.43]{\myfig[#1]{#2}}

\newcommand{\myfigure}[2][0.43]{\myfig[#1]{#2}}

\newcommand{\mychapterending}[1][2.5]{}

\newcommand{\bukvaending}{\mychapterending}

\newcommand\longpage[1][1]{}
\newcommand\shortpage[1][1]{}

% save the value of current parindent to be used
% later in minipage environments
\newlength\myparindent
\setlength\myparindent{\parindent}
\newcommand\noparindent{\setlength\parindent{0pt}}
\newcommand\restoreparindent{\setlength\parindent{\myparindent}}

\long\def\symbolfootnote[#1]#2{\begingroup%
\def\thefootnote{\fnsymbol{footnote}}\footnote[#1]{#2}\endgroup}

\newcommand{\firstletter}[1]{#1}%{\myheadingcolor #1}}

\newcommand{\mybibleref}[1]{(#1)}

%
% hook config for \myemph{} command
%
\newcommand{\myemph}[1]{\emph{#1}}

\Configure{hbar}
  {\HCode{\string&\#x2015;}}
  
\newcommand{\myparsep}[1]{%

  \EndP\hbar\hbar\hbar\hbar\par}
  
%
% in html, acute accenting can be achieved
% by placing &#x301; unicode value after desired character
% we redefine \'{} command and create new hook configuration
%
\renewcommand{\'}[1]{#1\HCode{&\#x301;}}

\renewcommand{\url}[1]{\texttt{#1}}

\newcommand{\minicolumns}[2]{
  #1\par\medskip
  \myemph{#2}\par
}

\catcode169=\active
\def©{(c)}

\begin{document}

\EndPreamble 
