.larm-1200{font-size:1.1em}
.latt-1095{font-family: monospace}
.lati-1095{font-style: italic}
.labx-1095{font-weight: bold}
.cmmi-10x-x-109{font-style: italic}
.larm-1000{font-size:0.90em}
.larm-0900{font-size:0.85em}
.lati-0900{font-size:0.85em;font-style: italic}
.labx-0900{font-size:0.85em;font-weight: bold}
.labx-1440{font-size:1.27em;font-weight: bold}
.myemph{color:#E34234;font-size:0.90em}
.myemph .larm-1000 {font-size:1em}
p.noindent { text-indent: 0em }
p.indent{ text-indent: 1.3em }
dd {margin-left: 1em}
dd.enumerate {margin-left: 4em}
dt {float:left; clear:left; margin-right:0.5em; text-align:right}
dt.enumerate {width:3.5em}
div.minipage{width:100%}
div.center {text-align: center}
div.ornamentHead {text-align: center; width:100%; page-break-after: avoid}
div.partOrnamentHead {text-align: center; width:100%; page-break-after: avoid}
div.ornamentFoot {clear: left; text-align: center; width:50%; margin-top: 2em; margin-right: 25%; margin-left: 25%; page-break-before: avoid}
img.ornamentfirst {max-width: 90%}
img.ornamentlast {max-width: 100%}
img.icon {width: 100%}
div.centericon {margin-right: 25%; margin-left: 25%; width:50%;}
img.centered-icon {width: 100%}
span.footnote-mark, sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; line-height:0.8em}
div.footnotes{border-top:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2em; font-size:85%; text-align: left}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0}
.partToc a, .partToc, .chapterToc a, .chapterToc {font-weight:bold; margin-top:0.5em; page-break-inside: avoid}
.partHead, .chapterHead, .likechapterHead, .sectionHead, .subsectionHead {text-align: center; margin-top:0.5em; line-height: 1em; clear:both}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center}
h2.titleHead{text-align:center}
h3.sectionHead{margin-top:0.8em; margin-bottom:0.6em; font-weight: bold; text-align: center; font-size: 1.17em}
h4.subsectionHead{text-align:center}
h5.subsubsectionHead {margin-top:0.7em; margin-bottom:0.5em; font-weight: bold; text-align: center; font-size: 1em}
div.maketitle{ margin-bottom: 2em}
div.author, div.date {text-align:center}
.sectionToc, .bukvaToc {margin-left:2.5em; text-indent: -1em}
.bukvaToc {float: left; text-align: right}
.subsubsectionToc {margin-left:6em}
 .wrapfig-r {text-align: left; float:right; margin-left:0.5em; margin-top: 0.5em; width:50%} 
 .wrapfig-rt {text-align: left; float:right; margin-left:0.5em; margin-top: 0.5em;width:37%} 
 .wrapfig-rw {text-align: left; float:right; margin-left:0.5em; margin-top: 0.5em;width:70%} 
 .wrapfig-l {text-align: right; float:left; margin-right:0.5em; margin-top: 0.5em; width:50%} 
 .wrapfig-lt {text-align: right; float:left; margin-right:0.5em; margin-top: 0.5em; width:37%} 
 .wrapfig-lw {text-align: right; float:left; margin-right:0.5em; margin-top: 0.5em; width:70%} 
body { font-family: "PT Serif"}
h1,h2,h3,h4,h5 { text-align: left; color: #E34234; hyphens: none; -webkit-hyphens:none; -moz-hyphens:none; page-break-after:avoid; }
a { text-decoration: none; text-align: left }
.partTOCS, .chapterTOCS, .tableofcontents { text-align: left; margin-left:0; margin-bottom:1.5em}
span.titlemark { line-height: 300% }
p { margin: 0px; line-height:1.3em}
li.itemize {text-align: left; margin-left: -0.3em;}
#announce {
    page-break-after: always;
}

@font-face { font-style: normal; font-family: "PT Serif"; src: url(fonts/PTF55F.ttf)}
@font-face { font-style: italic; font-family: "PT Serif"; src: url(fonts/PTF56F.ttf)}
@font-face { font-weight: bold; font-family: "PT Serif"; src: url(fonts/PTF75F.ttf)}
@font-face { font-weight: bold; font-style: italic; font-family: "PT Serif"; src: url(fonts/PTF76F.ttf)}

td.td11{ padding-right:5pt; width: 50%; }
.centerline {text-align:center;}
.rightline {text-align:right;}
hr.myparsep{width:30%;margin-top:1.5em; margin-bottom:1em;height:2px;border-width:0;color:black;background-color:black;margin-right: 35%; margin-left: 35%; }

