.larm-1200{font-size:109%;}
.latt-1095{font-family: monospace;}
.lati-1095{font-style: italic;}
.labx-1095{font-weight: bold;}
.labx-1095{font-weight: bold;}
.cmmi-10x-x-109{font-style: italic;}
.cmsy-10x-x-109{}
.larm-1000{font-size:90%;}
.larm-0900{font-size:81%;}
.labx-0900{font-size:81%;font-weight: bold;}
.labx-0900{font-weight: bold;}
p.noindent { text-indent: 0em }
p.indent{ text-indent: 1.5em }
dd.enumerate {margin-left: 2em;}
dt.enumerate {float:left; clear:left; margin-right:0.5em; margin-left:0.5em; text-align:right; }
div.minipage{width:100%;}
div.center div {text-align: left;}
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
.partToc a, .partToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc {line-height: 200%; font-weight:bold;}
h1.partHead{text-align: center}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
h1.partHead{text-align: center}
 .chapterToc {margin-left:0em;}
 .chapterToc ~ .sectionToc {margin-left:2em;}
.subsubsectionToc {margin-left:6em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc, {margin-left:2em;}
 .wrapfig-r {float:right; text-align:left; margin-left:auto; margin-top:0.5em;} 
 .wrapfig-l {float:left; text-align:left; margin-right:auto; margin-top:0.5em;} 
body { text-align: justify; font-family: MainFont;}
a,h2,h3,h4 { text-align: left }
.chapterTOCS, .tableofcontents { text-align: left }
span.titlemark { line-height: 300% }
p { margin: 0px; }
@font-face { font-style: normal; font-family: MainFont; src: url(fonts/DejaVuSerifCondensed.ttf); }
@font-face { font-style: italic; font-family: MainFont; src: url(fonts/DejaVuSerifCondensed-Italic.ttf); }
@font-face { font-weight: bold; font-family: MainFont; src: url(fonts/DejaVuSerifCondensed-Bold.ttf); }
@font-face { font-weight: bold; font-style: italic; font-family: MainFont; src: url(fonts/DejaVuSerifCondensed-BoldItalic.ttf); }


